<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <!-- End Header Top -->
        <!-- Start Header Bottom -->
        <div class="header-bottom header-bottom-color--green section-fluid sticky-header sticky-color--white">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a href="index.html"><img src="assets/images/logo/logo_black.png" alt=""></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->

                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--green">
                            <nav>
                                <ul>
                                    <li class="has-dropdown">
                                        <a class="active main-menu-link" href="index.html">Home <i
                                                class="fa fa-angle-down"></i></a>
                                    </li>
                                    <li class="has-dropdown has-megaitem">
                                        <a href="product-details-default.html">Shop <i
                                                class="fa fa-angle-down"></i></a>
                                        <!-- Mega Menu -->
                                        <div class="mega-menu">
                                            <ul class="mega-menu-inner" style="column-count: 3;">
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <ul class="mega-menu-sub" *ngFor="let cat of categories">
                                                        <li><a (click)="goToProduct(cat.name)">{{cat.name}}</a></li>
                                                                                                          
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <!-- <li class="mega-menu-item">
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="empty-cart.html">Cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="compare.html">Compare</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="login.html">Login</a></li>
                                                        <li><a href="my-account.html">My Account</a></li>
                                                    </ul>
                                                </li> -->
                                                <!-- Mega Menu Sub Link -->
                                                <!-- <li class="mega-menu-item">
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="product-details-default.html">Product
                                                                Default</a></li>
                                                        <li><a href="product-details-variable.html">Product
                                                                Variable</a></li>
                                                        <li><a href="product-details-affiliate.html">Product
                                                                Referral</a></li>
                                                        <li><a href="product-details-group.html">Product Group</a>
                                                        </li>
                                                        <li><a href="product-details-single-slide.html">Product
                                                                Slider</a></li>
                                                    </ul>
                                                </li> -->
                                                <!-- Mega Menu Sub Link -->
                                                <!-- <li class="mega-menu-item">
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="product-details-tab-left.html">Product Tab
                                                                Left</a></li>
                                                        <li><a href="product-details-tab-right.html">Product Tab
                                                                Right</a></li>
                                                        <li><a href="product-details-gallery-left.html">Product
                                                                Gallery Left</a></li>
                                                        <li><a href="product-details-gallery-right.html">Product
                                                                Gallery Right</a></li>
                                                        <li><a href="product-details-sticky-left.html">Product
                                                                Sticky Left</a></li>
                                                        <li><a href="product-details-sticky-right.html">Product
                                                                Sticky right</a></li>
                                                    </ul>
                                                </li> -->
                                            </ul>
                                            <div class="menu-banner">
                                                <a href="#" class="menu-banner-link">
                                                    <img class="menu-banner-img"
                                                        src="assets/images/banner/menu-banner.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->

                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--black action-hover-color--green">
                            <li>
                                <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                    <i class="icon-heart"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                    <i class="icon-bag"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Header Action Link -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Bottom -->
    </div>
</header>