<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <!-- End Header Top -->
        <!-- Start Header Bottom -->
        <div class="header-bottom header-bottom-color--green section-fluid sticky-header sticky-color--white">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a href="index.html"><img src="assets/images/logo/logo_black.png" alt=""></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->

                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--green">
                            <nav>
                                <ul>
                                    <li class="has-dropdown">
                                        <a class="active main-menu-link" href="index.html">Home <i
                                                class="fa fa-angle-down"></i></a>
                                    </li>
                                    <li class="has-dropdown has-megaitem">
                                        <a href="product-details-default.html">Products <i
                                                class="fa fa-angle-down"></i></a>
                                        <!-- Mega Menu -->
                                        <div class="mega-menu">
                                            <ul class="mega-menu-inner" style="column-count: 3;">
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <ul class="mega-menu-sub" *ngFor="let cat of categories">
                                                        <li><a (click)="goToProduct(cat.name)">{{cat.name}}</a></li>

                                                    </ul>
                                                </li>

                                            </ul>
                                            <div class="menu-banner">
                                                <a href="#" class="menu-banner-link">
                                                    <img class="menu-banner-img"
                                                        src="assets/images/banner/menu-banner.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a [routerLink] = "'about'">About Us</a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->

                        <!-- Start Header Action Link -->
                        <!-- End Header Action Link -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Bottom -->
    </div>

  <div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
      <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <!-- Start Mobile contact Info -->
    <div class="mobile-contact-info">
      <div class="logo">
        <a href="index.html"><img src="../../assets/images/logo/logo_white.png" alt=""></a>
      </div>

      <address class="address">
        <span>Address: Your address goes here.</span>
        <span>Call Us: 0123456789, 0123456789</span>
        <span>Email: demo@example.com</span>
      </address>

      <ul class="social-link">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>

      <ul class="user-link">
        <li><a href="wishlist.html">Wishlist</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="checkout.html">Checkout</a></li>
      </ul>
    </div>
    <!-- End Mobile contact Info -->
  </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->


  <!-- Start Offcanvas Mobile Menu Section -->
  <div id="offcanvas-wishlish" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
      <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- ENd Offcanvas Header -->

    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <div class="offcanvas-wishlist-wrapper">
      <h4 class="offcanvas-title">Wishlist</h4>
      <ul class="offcanvas-wishlist">
        <li class="offcanvas-wishlist-item-single">
          <div class="offcanvas-wishlist-item-block">
            <a href="#" class="offcanvas-wishlist-item-image-link">
              <img src="../../assets/images/product/default/home-1/default-1.jpg" alt=""
                   class="offcanvas-wishlist-image">
            </a>
            <div class="offcanvas-wishlist-item-content">
              <a href="#" class="offcanvas-wishlist-item-link">Car Wheel</a>
              <div class="offcanvas-wishlist-item-details">
                <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                <span class="offcanvas-wishlist-item-details-price">$49.00</span>
              </div>
            </div>
          </div>
          <div class="offcanvas-wishlist-item-delete text-right">
            <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
          </div>
        </li>
        <li class="offcanvas-wishlist-item-single">
          <div class="offcanvas-wishlist-item-block">
            <a href="#" class="offcanvas-wishlist-item-image-link">
              <img src="../../assets/images/product/default/home-2/default-1.jpg" alt=""
                   class="offcanvas-wishlist-image">
            </a>
            <div class="offcanvas-wishlist-item-content">
              <a href="#" class="offcanvas-wishlist-item-link">Car Vails</a>
              <div class="offcanvas-wishlist-item-details">
                <span class="offcanvas-wishlist-item-details-quantity">3 x </span>
                <span class="offcanvas-wishlist-item-details-price">$500.00</span>
              </div>
            </div>
          </div>
          <div class="offcanvas-wishlist-item-delete text-right">
            <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
          </div>
        </li>
        <li class="offcanvas-wishlist-item-single">
          <div class="offcanvas-wishlist-item-block">
            <a href="#" class="offcanvas-wishlist-item-image-link">
              <img src="../../assets/images/product/default/home-3/default-1.jpg" alt=""
                   class="offcanvas-wishlist-image">
            </a>
            <div class="offcanvas-wishlist-item-content">
              <a href="#" class="offcanvas-wishlist-item-link">Shock Absorber</a>
              <div class="offcanvas-wishlist-item-details">
                <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                <span class="offcanvas-wishlist-item-details-price">$350.00</span>
              </div>
            </div>
          </div>
          <div class="offcanvas-wishlist-item-delete text-right">
            <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
          </div>
        </li>
      </ul>
      <ul class="offcanvas-wishlist-action-button">
        <li><a href="#" class="btn btn-block btn-green">View wishlist</a></li>
      </ul>
    </div> <!-- End Offcanvas Mobile Menu Wrapper -->

  </div> <!-- End Offcanvas Mobile Menu Section -->



  <!-- Offcanvas Overlay -->
  <div class="offcanvas-overlay"></div>

</header>
