 .u-section-1 {
  min-height: 691px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("/images/proteinBars.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px;
}

.u-section-1 .u-text-1 {
  margin: 232px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 30px auto 0;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 728px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 728px;
    order: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 646px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 546px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 444px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 344px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 811px;
}

.u-section-2 .u-text-1 {
  width: 496px;
  font-size: 3.75rem;
  margin: 74px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-style: italic;
  width: 785px;
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 539px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 50px;
}

.u-section-2 .u-image-1 {
  height: 276px;
  width: 276px;
  background-image: url("/images/whey_protein_pro_cookies_and_cream.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 50px;
}

.u-section-2 .u-image-2 {
  height: 276px;
  width: 276px;
  background-image: url("/images/protein1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 50px;
}

.u-section-2 .u-image-3 {
  height: 276px;
  width: 276px;
  background-image: url("/images/0o3i5bto.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 444px;
  }

  .u-section-2 .u-image-1 {
    height: 196px;
    width: 196px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 196px;
    width: 196px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 196px;
    width: 196px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1020px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 254px;
    width: 254px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 254px;
    width: 254px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 254px;
    width: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 247px;
    width: 247px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 247px;
    width: 247px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 247px;
    width: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-text-1 {
  width: 707px;
  margin: 76px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 49px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18.75px));
  min-height: 446px;
  grid-gap: 25px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 209px;
  width: 209px;
  background-image: url("/images/0o3i5bto.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none double;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 209px;
  width: 209px;
  background-image: url("/images/0o3i5bto.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none double;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 209px;
  width: 209px;
  background-image: url("/images/proteinBars.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  border-style: none none double;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-4 {
  height: 209px;
  width: 209px;
  background-image: url("/images/proteinBars.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 17px 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  border-style: none none double;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 362px;
  }

  .u-section-3 .u-image-1 {
    height: 155px;
    width: 155px;
  }

  .u-section-3 .u-image-2 {
    height: 155px;
    width: 155px;
  }

  .u-section-3 .u-image-3 {
    height: 155px;
    width: 155px;
  }

  .u-section-3 .u-image-4 {
    height: 155px;
    width: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2451px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 1188px;
  }

  .u-section-3 .u-image-1 {
    height: 254px;
    width: 254px;
  }

  .u-section-3 .u-image-2 {
    height: 254px;
    width: 254px;
  }

  .u-section-3 .u-image-3 {
    height: 254px;
    width: 254px;
  }

  .u-section-3 .u-image-4 {
    height: 254px;
    width: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 413px;
    width: 413px;
  }

  .u-section-3 .u-image-2 {
    height: 413px;
    width: 413px;
  }

  .u-section-3 .u-image-3 {
    height: 413px;
    width: 413px;
  }

  .u-section-3 .u-image-4 {
    height: 413px;
    width: 413px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 264px;
    width: 264px;
  }

  .u-section-3 .u-image-2 {
    height: 264px;
    width: 264px;
  }

  .u-section-3 .u-image-3 {
    height: 264px;
    width: 264px;
  }

  .u-section-3 .u-image-4 {
    height: 264px;
    width: 264px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/uyy.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 787px;
}

.u-section-4 .u-text-1 {
  width: 597px;
  font-size: 2.8125rem;
  margin: 106px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 82px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 304px;
  grid-gap: 24px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 800;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5999999999999999;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 800;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5999999999999999;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 605px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  min-height: 1169px;
}

.u-section-5 .u-shape-1 {
  height: 358px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: -274px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 463px;
  grid-gap: 26px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-2 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-3 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 27px auto 55px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 394px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 120px 30px 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-form-1 {
  margin: 30px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
}

.u-section-5 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 77px;
  min-width: 47px;
  margin: 46px auto 0 23px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 30px 30px 50px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-10 {
  line-height: 1.6;
  font-weight: 700;
  margin: 30px 127px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1100px;
  }

  .u-section-5 .u-shape-1 {
    height: 310px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    margin-top: -226px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    min-height: 378px;
  }

  .u-section-5 .u-image-1 {
    height: 332px;
  }

  .u-section-5 .u-image-2 {
    height: 332px;
  }

  .u-section-5 .u-image-3 {
    height: 332px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 875px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 912px;
  }

  .u-section-5 .u-image-1 {
    height: 381px;
  }

  .u-section-5 .u-image-2 {
    height: 381px;
  }

  .u-section-5 .u-image-3 {
    height: 381px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 3243px;
  }

  .u-section-5 .u-shape-1 {
    height: 443px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-top: -359px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 572px;
  }

  .u-section-5 .u-image-2 {
    height: 572px;
  }

  .u-section-5 .u-image-3 {
    height: 572px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 65px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2691px;
  }

  .u-section-5 .u-shape-1 {
    height: 308px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -224px;
  }

  .u-section-5 .u-image-1 {
    height: 360px;
  }

  .u-section-5 .u-image-2 {
    height: 360px;
  }

  .u-section-5 .u-image-3 {
    height: 360px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -487px;
  }
}